@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('bebas-neue-fontfacekit/BebasNeue-webfont.eot');
    src: url('bebas-neue-fontfacekit/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas-neue-fontfacekit/BebasNeue-webfont.woff') format('woff'),
         url('bebas-neue-fontfacekit/BebasNeue-webfont.ttf') format('truetype'),
         url('bebas-neue-fontfacekit/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

container{
	width:640px;
	height:1136px;
	}
	
header img{
	padding-top:116px;
	padding-left:65px;
	}
	
body{
	font-family:BebasNeueRegular, Arial, sans-serif;
	background-color:#7fc4bf;
	width:640px;
	}
	
nav ul li{
	list-style-type:none;
	}
	
#previous_trips{
	padding-left:20px;
	}
	
#current_trip{
	padding-left:107px;
	margin-top:-32px;
	}
	
#future_trips{
	padding-left:107px;
	margin-top:-32px;
	}
	
#settings{
	padding-left:470px;
	margin-top:80px;
	}
	
	
/*LOGIN SCREEN*/

#loginBody{
	font-family:BebasNeueRegular, Arial, sans-serif;
	background-color:#7fc4bf;
	width:640px;
}

#loginNav a{
	padding-left:500px;
	text-decoration:none;
	margin: 10px;
	color:#fdf4d2;
	background-color:#ea4c51;
	font-size:30px;
	padding:10px;
	text-align:center;
	float:left;
}

#login{
	
}

#signup{

}


/*PREVIOUS TRIPS PAGE*/

.previous_header{
	float:left;
	position:fixed;
	margin-right:-400px;
	margin-top:-130px;
	}

#bodyPrevious{
	color:#fdf4d2;
	}

	
.menu_back{
	float:top;
	margin-top:-50px;
	}

#navP a{
	text-decoration: none;
	margin: 10px;
	color:#ea4c51;
	background-color:#fdf4d2;
	font-size:30px;
	padding:10px;
	text-align:center;
	float:left;
}

#navPreviousAll{
	height:100px;
}


nav #navPrevious {
	font-size:50px;
	background-color:#ea4c51;
	padding:20px;
}

#navP{
	font-size:50px;
	background-color:#ea4c51;
	padding:20px;
	text-align:right;
}

/*#navP h2{
	text-decoration: none;
	margin: 10px;
	color:#fdf4d2;
	background-color:#ea4c51;
	font-size:30px;
	padding:10px;
	text-align:center;
	float:left;
}*/
	
#posts a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fdf4d2;
}
.Thailand{
	text-transform:uppercase;
	margin-top:20px;
	padding:10px;
	background-color:#777278;
}

.Thailand img{
	float:right;
	width:75px;
	height:75px;
	clear:both;
	margin-top:-72px;
}

.Indonesia{
	text-transform:uppercase;
	margin-top:8px;
	padding:10px;
	background-color:#777278;
}

.Indonesia img{
	float:right;
	width:75px;
	height:75px;
	clear:both;
	margin-top:-72px;
}

.Cambodia{
	text-transform:uppercase;
	margin-top:8px;
	padding:10px;
	background-color:#777278;
}

.Cambodia img{
	float:right;
	width:75px;
	height:75px;
	clear:both;
	margin-top:-72px;
}

.Singapore{
	text-transform:uppercase;
	margin-top:8px;
	padding:10px;
	background-color:#777278;
}

.Singapore img{
	float:right;
	width:75px;
	height:75px;
	clear:both;
	margin-top:-72px;
}

.Philippines{
	text-transform:uppercase;
	margin-top:8px;
	padding:10px;
	background-color:#777278;
}

.Philippines img{
	float:right;
	width:75px;
	height:75px;
	clear:both;
	margin-top:-72px;
}

.Japan{
	text-transform:uppercase;
	margin-top:8px;
	padding:10px;
	background-color:#777278;
}

.Japan img{
	float:right;
	width:75px;
	height:75px;
	clear:both;
	margin-top:-72px;
}

/*THAILAND POST*/

#navThailand{
	font-size:50px;
	background-color:#777278;
	padding:20px;
	color:#fdf4d2;
}

#navT{
	text-align:right;
}
#navT a{
	text-decoration: none;
	margin: 10px;
	color:#ea4c51;
	background-color:#fdf4d2;
	font-size:30px;
	padding:10px;
	text-align:center;
	float:left;
}

#thailandBody{
	color:#fdf4d2;
	text-transform:uppercase;
	text-align: center;
}

.calendar{
	float:left;
	margin-left:100px;
	margin-top:50px;
	margin-bottom:15px;
}

.multimedia{
	float:left;
	margin-left:80px;
	margin-top:50px;
	margin-bottom:15px;
}

.places{
	float:left;
	margin-left:100px;
	margin-top:20px;
	
}

.map{
	float:left;
	margin-left:80px;
	margin-top:20px;
	margin-bottom:15px;
}

.notes{
	float:left;
	margin-left:100px;
	margin-top:20px;
	margin-bottom:15px;
}

.playlist{
	float:left;
	margin-left:80px;
	margin-top:20px;
	margin-bottom:15px;
}

footer{
	background-color:#777278;
	height:100px;
	clear:both;
}

footer img{
	padding-right:30px;
	padding-top:5px;
	padding-left:5px;
}

.route{
	background-color:#777278;
	border: 1px solid #fdf4d2;
	padding:5px;
	margin-top:-20px;
	float:top;
	clear:both;
}


/*THAILAND NAV*/
#navThai{
	font-size:50px;
	background-color:#777278;
	padding:20px;
	color:#fdf4d2;
}

#navT{
	text-align:right;
}
#navT a{
	text-decoration: none;
	margin: 10px;
	color:#ea4c51;
	background-color:#fdf4d2;
	font-size:30px;
	padding:10px;
	text-align:center;
	float:left;
}



/*THAILAND MEDIA*/
#thailandMediaBody{
	color:#fdf4d2;
	text-transform:uppercase;
	text-align: center;
}

.gallery img{
	width:150px;
	height:150px;
}

#thaiMediaFooter {
	background-color:#777278;
	height:100px;
	clear:both;
}

#thaiMediaFooter img{
	padding-right:30px;
	padding-top:5px;
	padding-left:5px;
}


/*INDONDESIA*/
#navIndonesia{
	font-size:50px;
	background-color:#777278;
	padding:20px;
	color:#fdf4d2;
}

#navI{
	text-align:right;
}
#navI a{
	text-decoration: none;
	margin: 10px;
	color:#ea4c51;
	background-color:#fdf4d2;
	font-size:30px;
	padding:10px;
	text-align:center;
	float:left;
}

#indonesiaBody{
	color:#fdf4d2;
	text-transform:uppercase;
	text-align: center;
}



#calendar{
	color:#fdf4d2;
}


/*MAP*/

#map a{
    text-decoration: none;
	text-transform:uppercase;  
	text-align:center;
	color:red;
	    }


